::ng-deep mat-form-field {
  height: 40px !important;
  .mat-mdc-text-field-wrapper {
    display: flex !important;
    align-items: center !important;
    // padding: 0px !important;
  }
}
::ng-deep .mat-mdc-form-field-subscript-wrapper,
::ng-deep .mdc-line-ripple {
  display: none !important;
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}
