/* You can add global styles to this file, and also import other style files */
.required-asterik {
  color: red;
  font-weight: bolder;
}
.form-label {
  font-weight: 500;
  cursor: pointer;
}
.form-control {
  border: 1px solid gray;
}
